<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Notas Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="notas">
      <div class="fixos">
        <% fixos.forEach(nota => { %>
          <div class="postit pin<%= nota.pin %>" id="<%=nota._id%>">
            <div class="botao">
              <button onclick="btApagar('<%=nota._id%>')">X</button>
            </div>
            <div class="headPost">
              <a href="/nota/<%= nota._id %>"><%= nota.h %></a>
            </div>
            <div class="bodyPost">
              <%= nota.b %>
            </div>
            </div>
        <% }) %>
      </div>
      <br>
      <div class="naoFixos">
        <% naoFixos.forEach(nota => { %>
          <div class="postit pin<%= nota.pin %>" id="<%=nota._id%>">
            <div class="botao">
              <button onclick="btApagar('<%=nota._id%>')">X</button>
            </div>
            <div class="headPost">
              <a href="/nota/<%= nota._id %>"><%= nota.h %></a>
            </div>
            <div class="bodyPost">
              <%= nota.b %>
            </div>
            </div>
        <% }) %>
      </div>
    </div>
    <a onclick="mostraInserir()">
      <div class="novaNota">
        <h1>N</h1>
      </div>
      <%- include('./partials/_inserir.ejs') %>
    <%- include('./partials/_footer.ejs') %>
    <script src="/javascripts/front.js"></script>
  </body>
</html>
