<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Notas Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="notas">
      <div class="fixos">
        <% fixos.forEach(nota => { %>
          <div class="postit pin<%= nota.pin %>" id="<%=nota.id%>">
            <div class="regPost">
              <a href="/nota/<%= nota.id %>"><%= nota.id %></a>
              <button onclick="btApagar(<%=nota.id%>)">X</button>
            </div>
            <div class="headPost">
              <%= nota.h %>
            </div>
            <div class="bodyPost">
              <%= nota.b %>
            </div>
            </div>
        <% }) %>
      </div>
      <br>
      <div class="naoFixos">
        <% naoFixos.forEach(nota => { %>
          <div class="postit pin<%= nota.pin %>"  id="<%=nota.id%>">
            <div class="regPost">
              <a href="/nota/<%= nota.id %>"><%= nota.id %></a>
              <button onclick="btApagar(<%=nota.id%>)">X</button>
            </div>
            <div class="headPost">
              <%= nota.h %>
            </div>
            <div class="bodyPost">
              <%= nota.b %>
            </div>
            </div>
        <% }) %>
      </div>

    </div> 
    </div>
    <script src="./javascripts/funcoes.js"></script>
  </body>
</html>
