<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nota ID <%= nota.id %> -  <%= nota.h %></title>
  <link rel='stylesheet' href='../stylesheets/style.css' />

</head>
<body>
  <a href="../"><p>< Mostrar todas as notas</p></a>
  <div class="postit pin<%= nota.pin %>">
    <div class="regPost">
      <%= nota.id %>
    </div>
    <div class="headPost">
      <%= nota.h %>
    </div>
    <div class="bodyPost">
      <%= nota.b %>
    </div>
    </div>
    <%- include('./partials/_footer.ejs') %>
</body>
</html>