<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nota: <%= nota.h %></title>
  <link rel='stylesheet' href='../stylesheets/style.css' />

</head>
<body>
  <a href="../"><p>< Mostrar todas as notas</p></a>
  <div class="postit pin<%= nota.pin %>">
    <div class="headPost">
      <%= nota.h %>
    </div>
    <div class="bodyPost">
      <%= nota.b %>
    </div>
    </div>
    <a class="apagar" data-doc="<%= nota._id %>">Apagar</a>
    <%- include('./partials/_footer.ejs') %>
    <script>
      const lixeira = document.querySelector('a.apagar');

      lixeira.addEventListener('click', (e) => {
        const endpoint = `/nota/${lixeira.dataset.doc}`;

        fetch(endpoint, {
          method: 'DELETE'
        })
          .then((response) => response.json())
          .then((data) => window.location.href = data.redirect)
          .catch(err => console.log(err));
      })
    </script>
</body>
</html>